/* background color: #f3f2ed */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  width: 100%;
  background-color: #f3f2ed;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.message {
  height: auto;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.card-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 5%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.board button {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
.containers {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.new-game,
.reset {
  height: 100%;
  width: 20%;
  padding: 20px;
  border-radius: 5%;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
